body{

	margin:0;
	background-image: url('../paper3.jpg');
	
	font-family: 'Domine', serif;
	color: #333333;
	font-size: 20px;
	font-weight: 100;
	line-height: 30px;
	text-align: center;

	min-width:1040px;
	
}

a{
	color: #999;
	text-decoration: none;
	transition: color 0.3s;
}
a:hover{
	color: #990000;
	text-decoration: none;
}

#intro_container, #outro_container{
	width:100%; height:550px;
	overflow: hidden;
	position: relative;
	background: #000;
}
#intro, #outro{
	position: absolute;
	width:0; height:0;
	margin: auto;
	top:0; bottom:0; left:0; right:0;
}
#intro > #intro_background, #outro > #outro_background{
	display: block;
	position: absolute;
	left:-640px; top:-275px;
	width:1280px; height:550px;
	border: none;
}

.blur{
	background-color: rgba(16, 16, 16, .64);
	position: absolute;
	transition: opacity 0.5s;
}

.chapter{
	margin: 50px auto;
	width: 1000px;
	padding: 0px 25px;
	text-align: center;
}

.hidden{ display: none; }
.unhidden{ display: block; text-align: center; }
a.hidden{ visibility: hidden; }
a.unhidden{ visibility: visible; }

.navigator{
	opacity: 0.33;
	transition: opacity 0.5s;
}

.navigator:hover{
	opacity: 1.0;
}

.navigator-fresh{
	opacity: 0.67;
	transition: opacity 0.25s;
}

.navigator-fresh:hover{
	opacity: 1.0;
}

iframe {
	overflow: hidden;
	border: none;
}

#references{
	width: 100%;
	background: #222;
	overflow: hidden;
	color:#eee;
}

.instruction{
	text-align:center; font-weight:bold; font-size:25px
}

/**
span[cartoon]{
	border-bottom:1px dashed black;
}
span[cartoon]:hover{
	color:#aaa;
	border-color: #aaa;
}
**/

#cartoon_container{
	display: none;
	position: fixed;
	width:0;
	height:0;
	z-index: 100;
}
#cartoon{
	position: absolute;
	border-radius: 20px;

	width:170px; padding:15px;
	background-color: #fff;

	-webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);

}
#cartoon_arrow{
	
	display: block;

	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #fff;

	position: absolute;
	top:-20px;
	left:90px;

}
#cartoon_arrow[flipped=true]{
	
	display: block;

	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #fff;

	position: absolute;
	top:-20px;
	left:140px;

}