body{

	margin:0;
	background-image: url('../paper3.jpg');
	
	font-family: 'Domine', serif;
	color: #333333;
	font-size: 20px;
	font-weight: 100;
	line-height: 30px;
	text-align: center;

	min-width:1040px;
	
}

a{
	color: #999;
	text-decoration: none;
	transition: color 0.3s;
}
a:hover{
	color: #990000;
	text-decoration: none;
}

.blur{
	background-color: rgba(16, 16, 16, .64);
	position: absolute;
	transition: opacity 0.5s;
}

.chapter{
	margin: 50px auto;
	width: 1000px;
	padding: 0px 25px;
	text-align: center;
}

.hidden{ display: none; }
.unhidden{ display: block; text-align: center; }
a.hidden{ visibility: hidden; }
a.unhidden{ visibility: visible; }

.navigator{
	opacity: 0.33;
	transition: opacity 0.5s;
}

.navigator:hover{
	opacity: 1.0;
}

.navigator-fresh{
	opacity: 0.67;
	transition: opacity 0.25s;
}

.navigator-fresh:hover{
	opacity: 1.0;
}

iframe {
	overflow: hidden;
	border: none;
}