body,button {
    margin: 50px 50px;
    font-family: 'Domine', serif;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;   
}

hd{
    font-family: 'Impact';
    font-size: 96px;
}

a{
	color: #333;
	text-decoration: none;
	transition: color 0.3s;
}
a:hover{
	color: #990000;
	text-decoration: none;
}